@import "tailwindcss";
@plugin "@tailwindcss/typography";

@source "../..";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-brand-50: #eef6ff;
  --color-brand-500: #2563eb;
  --color-brand-700: #1d4ed8;
}